# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias aliases="code ~/.aliases"
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias desk="cd ~/Desktop"
alias g="git"

# Brew
alias cask='brew cask' # i <3 u cask
# Typos!
alias where=which # sometimes i forget
alias brwe=brew  #typos


# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color=auto"
else # OS X `ls`
    colorflag="-G"
fi

# what colors to use when showing different types of files in the terminal
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# List all files colorized in long format
alias l="ls -l ${colorflag}"
alias ll="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="ls ${colorflag}"


alias size='du -sh '
alias sizes='du -sh --max-depth=1 '
alias duu='du -sh ./* | sort -rh | head -n 10'
alias dff='df -xh '

alias hosts="sudo nano /etc/hosts"

alias jpg='jpegoptim'
alias png='optipng'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
# Start calculator with math support #
alias bc='bc -l'
alias now='date +"%T'
# list all TCP/UDP port on the server #
alias ports='netstat -tulanp'
alias newbash="echo '#!/usr/bin/env bash' > "
alias newmake="echo -e 'help:\n\t@grep '^[a-zA-Z]' Makefile'"

alias o="open"
alias oo="open ."


# System info
alias cpu="( sysctl -a | grep machdep.cpu ) && (system_profiler | grep Processor)"


# Applications ------------------------------------------
alias firefox="open -a firefox"
alias chrome="open -a google\ chrome"


# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'


# IP addresses ----------------------------------------------------------

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"


# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Sleep Mac
alias sleepnow="pmset sleepnow"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Faster npm for Europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu/"


# git alises ------------------------------------------------------------
alias gs="git status"
alias ga="git add "
alias gb="git branch"
alias gbl="git branch --list"
alias gd="git diff "

alias gl="git log --graph --abbrev-commit --date=relative --format=format:'%C(yellow)%h%C(reset) - %C(blue)%cr%C(reset): %C(green)%s%C(reset) by %an%C(reset)%C(bold yellow)%d%C(reset)'"

alias gla="git log --graph --abbrev-commit --decorate --format=format:'%C(red)%h%C(reset) - %C(reset) %C(bold)(%ar)%C(reset) by %C(bold)%an%C(reset) in%C(yellow)%d%C(reset)%n''          %C(green)%s%C(reset)' --all"

alias glb="git --no-pager log master..HEAD --oneline"

alias gll="git log --abbrev-commit --date=relative --format=format:' - %C(yellow)%h%C(reset) - %C(blue)%cr%C(reset): %C(green)%s%C(reset) by %an%C(reset)%C(bold yellow)%d%C(reset)'"


alias undopush="git push -f origin HEAD^:master"
alias gdev="git checkout develop"
alias gma="git checkout main"
alias gmas="git checkout master"
alias gc="git commit"
alias gcm="git commit -m"
alias gcam="git commit -am"
alias gch="git checkout"
alias gre="git restore --staged"

# PHP Dev alises ------------------------------------------------------------
# Laravel
alias pa="php artisan"
alias pam="php artisan make:"
alias pac="php artisan route:cache && php artisan view:cache && php artisan config:cache && php artisan horizon:clear"
alias pest='php artisan test --testsuite=Unit --stop-on-failure --parallel --processes=4'

# Craft CMS
alias dc="ddev craft"
alias dcc="ddev exec php craft clear-caches/all"

# Symfony
alias console="php bin/console"
alias pc="php bin/console"

# PHPStorm
alias pstorm='open -a /Applications/PhpStorm.app'
alias pstorms='cd ~/projects/pstorm'

# Docker
alias dr='docker run -it --rm ubuntu bash'
alias drd="docker run -d ubuntu --name my-ubuntu -p <hostPort>:<containerPort>"
alias dps='docker ps -a --format "table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Status}}"'
alias drp='docker ps -a --format "table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Status}}"'
alias dre='docker remove'
alias dex="docker exec -it my-ubuntu bash"
alias dst="docker stop my-ubuntu"
alias dpr="docker container prune"

# Tmux
alias tmuxn="tmux new -s"
alias tmuxa="tmux a -t" # tmux attach -t
alias tmuxl="tmux ls"
alias tmuxd="tmux kill-session -t"
alias tmuxk="tmux kill-session -t"
alias tmuxda="tmux ls | grep : | cut -d. -f1 | awk '{print substr($1, 0, length($1)-1)}' | xargs kill"
alias tmuxka="tmux ls | grep : | cut -d. -f1 | awk '{print substr($1, 0, length($1)-1)}' | xargs kill"
