# Git credentials
# Change following credentials to prevent from accidentally committing under my name
GIT_AUTHOR_NAME="YourName"
GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
git config --global user.name "$GIT_AUTHOR_NAME"
GIT_AUTHOR_EMAIL="user@email.com"
GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"
git config --global user.email "$GIT_AUTHOR_EMAIL"

# Quick SSH connect ---------------

# Use this function to choose a server from list to connect
function _connect(){
    targets_list=(
        "Target 1" "ssh user@host1 -p 22"
        "Target 2" "ssh user@host2 -p 22"
    )

    connect_to_target "${targets_list[@]}"
}

# Project Directories --------------------------------------------------------

PROJECTS_DIR=~/projects

# custom directories --------------
alias pstorms="cd $PROJECTS_DIR/pstorm"
alias herds="cd $PROJECTS_DIR/herds"
alias ddevs="cd $PROJECTS_DIR/ddevs"
alias clouds="cd $PROJECTS_DIR/clouds"
alias clones="cd $PROJECTS_DIR/clones"
alias notes="cd $PROJECTS_DIR/notes"
alias wp-plugins="cd $PROJECTS_DIR/wp-development/plugins"
alias wp-themes="cd $PROJECTS_DIR/wp-development/themes"
alias crafts="cd $PROJECTS_DIR/ddevs/crafts"
alias craft-plugins="cd $PROJECTS_DIR/crafts-plugins"

function pro() {
    if [ -f "${PROJECTS_DIR}/workspace/$1.code-workspace" ]; then
        open "${PROJECTS_DIR}/workspace/$1.code-workspace"
        echo "Switched to [${PWD}]"
    fi

    # Defining project directories to be checked
    local project_dirs=(
        "pstorm"
        "herds"
        "ddev"
        "wp-development/plugins"
        "wp-development/themes"
        "clones"
        "crafts"
        "crafts/plugins"
    )

    # Loop through each project directory
    for dir in "${project_dirs[@]}"; do
        local project_path="${PROJECTS_DIR}/${dir}/$1"
        if [ -d "$project_path" ]; then
            cd "$project_path"
            echo "Switched to [${PWD}]"
            return 0
        fi
    done
}
