# Git credentials
# Change following credentials to prevent from accidentally committing under my name
GIT_AUTHOR_NAME="YourName"
GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
git config --global user.name "$GIT_AUTHOR_NAME"
GIT_AUTHOR_EMAIL="user@email.com"
GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"
git config --global user.email "$GIT_AUTHOR_EMAIL"

###############################################################################
# Custom alias                                                       #
###############################################################################

# custom directories ----------------------------------------------------------
alias plugins="cd ~/projects/wp/plugins"
alias themes="cd ~/projects/wp/themes"

alias wp-plugins="cd ~/projects/wp/en/wp-content/plugins"
alias wp-themes="cd ~/projects/wp/en/wp-content/themes"

# directory for cloned repos
alias clones="cd ~/projects/clones"


alias db="cd ~/Dropbox"
alias lab="cd ~/projects"
